body{
}
#joinEvent {

	padding-left: 10px;

}
.header{
	font-size: 30px;
}
.description{
	font-size: 20px;
}
.date{
	font-size: 15px;
}
.eventName{
	font-size: 20px;
}
.buttonBackPage {
    font-size: 100%;
    padding: 7px 7px;
    border: none;
    background-color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
	border: 1px solid #ccc;
	box-shadow: inset 0 2px 4px #ddd;
}
#buttonPage{
	text-align: center;
}
.buttonBackPage:hover{
	color: #B0B662;
}
